{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
    <head>
        {% include 'partials/head.html' %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center full-height">
                <div class="col-md-4">
                    <h3 class="text-center">Login</h3>
                    {% include 'partials/messages.html' %}
                    <form class="form" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" name="submit" class="btn btn-primary btn-md" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>