{% extends 'registration/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center mb-3">
        <h2 class=" col-auto text-center">Set password</h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}

                <div class="row justify-content-center">
                    <div class="col-auto">
                        <input class="btn btn-primary" type="submit" value="Change my password">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}