{% extends 'registration/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center mb-6">
        <h2 class="text-center">Reset password</h2>
    </div>
    <div class="row justify-content-center">
        <h5 class="col-auto text-center">Fill in your email below</h5>
    </div>

    {% include 'partials/messages.html' %}
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="row justify-content-center mt-3">
            <div class="col-auto">
                <input class="btn btn-primary btn-block mx-auto" type="submit"
                       value="Send me instructions!">
            </div>
        </div>
    </form>

{% endblock %}