{% load static %}
{% load crispy_forms_tags %}

<html lang="en">
<head>
    {% include 'partials/head.html' %}
</head>
<body>
<div class="container-fluid">
    <div class="row justify-content-center align-items-center full-height">
        <div class="col-md-4">
            {% include 'partials/messages.html' %}
            <div class="row justify-content-center">
                <img src='{% static "mysign_app/gebouw-n.png" %}'>
            </div>
            <div class="row justify-content-center mb-6">
                <h3 class="text-center">Reset password</h3>
            </div>
            <div class="row justify-content-center mb-3">
                <h1>Sent!</h1>
            </div>
            <div class="row justify-content-center mb-3">
                <h6 class="text-center">We have sent a link the your email,
                please click on this link to reset your password</h6>
            </div>
        </div>
    </div>
</div>
</body>
</html>