channels
channels_redis
Django==2.2.5
django-colorfield==0.1.15
django-seed==0.1.9
django-use-email-as-username
django-pwa
djangorestframework # For the json serialization
python-dotenv==0.10.1
psycopg2-binary==2.8.3
pytest==5.1.2
pytest-selenium
pytest-cov==2.7.1
pytest-django==3.5.1
factory-boy==2.12.0
flake8
flake8-pytest-style
flake8-django
flake8-pytest
flake8-isort
django-crispy-forms
gunicorn
stringcase
Pillow==9.0.1
django-sendgrid-v5
django-templated-email
daphne
#selenium
#chromedriver_binary==77.0.3865.40