.cards tbody tr {
    float: left;
    width: 15rem;
    margin: 0.5rem;
    border: 0.0625rem solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    background-color: white;
}

.cards tbody td {
    display: block;
}

.cards td:before {
    content: attr(data-label);
    display: inline;
    position: relative;
    font-size: 85%;
    top: -0.5rem;
    float: left;
    color: #808080;
    min-width: 4rem;
    margin-left: 0;
    margin-right: 1rem;
    text-align: left;
}

tr.selected td:before {
    color: #404040;
}

.table .fa {
    font-size: 2.5rem;
    text-align: center;
}

.cards .fa {
    font-size: 7.5rem;
}

.dataTables_wrapper {
    width: 100%;
    padding-right: 5px;
}