.cards tbody tr {
    float: left;
    height: 150px;
    width: 15rem;
    margin: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0.15rem 0.15rem 0.3rem rgba(0, 0, 0, 0.25);
    background-color: var(--primary-light);
}

table.dataTable tbody tr.selected {
    color: white;
    background-color: var(--secondary-dark);

}

sorting_1 {
    background-color: white;
}

.cards tbody td {
    display: block;
}

.cards td:before {
    content: attr(data-label);
    display: inline;
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    /*top: -0.5rem;*/
    float: left;
    color: black;
    min-width: 4rem;
    margin-left: 0;
    margin-right: 1rem;
    text-align: left;
}

.cards td.active.id:after {
    color: #99ea99;
    background-color: #99ea99;
}

.cards td.id:after {
    content: attr(data-label);
    border-radius: 50%;
    margin-left: 80px;
    color: #f39898;
    background-color: #f39898;
}


tr.selected td:before {
    color: white;
}

.table .fa {
    font-size: 2.5rem;
    text-align: center;
    color: #404040;
}

.table {
    height: 100%;
}

.row-table {
    height: 89.5%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6;

}

.cards .fa {
    font-size: 7.5rem;
}

.dataTables_wrapper {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}