/*Main style Sheet*/

/*Tag declerations*/
/* Add names to colors when final colors are chosen. */
body {
    /*Variables*/
    --primary-light: #e3eff3;
    --primary-dark: #cde3eb;
    --secondary-light: #6e828a;
    --secondary-dark: #143a52;
    --delete-btn: #f74949;
    --save-btn: #27526d;
    /*body declarations */
    height: 100vh;
    background-color: var(--primary-light);
}

img {
    max-width: 100%;
}

a {
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--primary-dark);
    transition: 0.2s;
}

a:hover {
    color: var(--secondary-dark);
    background-color: var(--primary-dark);
}

/*Custom CSS classes*/

.navbar-btn {
    color: var(--primary-light);
    background-color: var(--secondary-dark);
    border: 0.5px solid var(--primary-light);
}

.auth-container {
    background-color: var(--primary-dark);
}

.nav-bg {
    width: 100%;
    background-color: var(--secondary-dark);
}

.navbar-light .navbar-nav .active > .nav-link {
    color: var(--primary-dark);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--primary-dark);
}

.navbar-light {
    width: 100%;
    background-color: var(--secondary-dark);
}

.bar-logo {
    width: 40px;
}

.save-button {
    height: 43px;
    color: white;
    background-color: var(--save-btn);
}

.delete-button {
    height: 43px;
    color: white;
    background-color: var(--delete-btn);
}

.navbar-brand {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
}

.authenticated-padding {
    padding-bottom: 15px;
    padding-top: 70.86px;

/* Pad it under the navbar (82.02) and give soma padding (15) */

.row-dt-form {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.row-data-table {
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: var(--primary-dark);
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
}

.no-overflow {
    overflow: hidden;
}