/*Main style Sheet*/

/*Tag declerations*/
body {
    background: #ffbf0f0;
}

img {
    max-width: 100%;
    object-fit: cover;
}


a {
    font-weight: bold;
    color: #dfd3d3;
    transition: 0.5s;
}

a:hover {
    color: #7c7575;
    background-color: #dfd3d3;
}

/*Custom CSS classes*/

.nav-bg {
    width: 100%;
    background-color: #7c7575;
}

.container-fluid-MySign {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.full-height {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
}

.no-overflow {
    overflow: hidden;
}

.vh-90 {
    height: 90vh;
}

.vh-15 {
    height: 15vh;
}