/*Main style Sheet*/

/*Tag declerations*/
/* Add names to colors when final colors are chosen. */
body {
    /*Variables*/
    --color1: #e3eff3;
    --color2: #cde3eb;
    --color3: #6e828a;
    --color4: #143a52;
    /*body declarations */
    height: 100vh;
    padding-top: 70.86px;
    background-color: var(--color1);
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--color2);
    transition: 0.2s;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: var(--color2);
}

.navbar-light .navbar-nav .nav-link{
    color: var(--color2);
}

a:hover {
    color: var(--color4);
    background-color: var(--color2);
}

/*Custom CSS classes*/

.navbar-light {
    width: 100%;
    background-color: var(--color4);
}

.bar-logo {
    width: 40px;
}

.navbar-brand {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
}

.container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
}

.row-dt {
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: var(--color2);
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
}

.full-height {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
}

.no-overflow {
    overflow: hidden;
}

.vh-90 {
    height: 90vh;
}

.vh-15 {
    height: 15vh;
}