{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
    <head>
        {% include 'partials/head.html' %}
    </head>
    <body>
        <div class="container h-100 align-items-center">
            <div class="row h-75 align-items-center text-center">
                <div class="col-12">
                    <h2>Welcome at MySign!</h2>
                    <img class="mx-auto" src='{% static "mysign_app/gebouw-n.png" %}'>
                </div>
            </div>
            <div class="row h-50">
                <div class="col-md-12 text-center">
                    <a href="{% url 'login' %}" class="btn btn-lg col-5 btn-primary">
                        Login page
                    </a>
                    <br/>
                    <a href="{% url 'screen' %}" class="btn btn-lg col-5 btn-primary mt-2">
                        Add this device
                    </a>
                </div>
            </div>

        </div>
    </body>
</html>
