{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
    {% load pwa %}
    {% include 'partials/head.html' %}
    <head>
        {% progressive_web_app_meta %}

         <title>Feeds</title>
        <script>

            function fullScreen() {
                var docElm = document.documentElement;
                if (docElm.requestFullscreen) {
                    docElm.requestFullscreen();
                } else if (docElm.msRequestFullscreen) {
                    docElm.msRequestFullscreen();
                } else if (docElm.mozRequestFullScreen) {
                    docElm.mozRequestFullScreen();
                } else if (docElm.webkitRequestFullScreen) {
                    docElm.webkitRequestFullScreen();
                }
            }
        </script>
    </head>
    <body>
        <div class="container-fluid h-100">
            {% if device.company %}
                {% include 'partials/company_screen.html' with company=device.company %}
            {% else %}
                <div class="row h-75 align-items-center">
                    <div class="col-2 offset-5">
                        <div class="row">
                            <img class="mx-auto" src='{% static "mysign_app/gebouw-n.png" %}'>
                        </div>
                    </div>
                </div>
                <div class="row h-25">
                    <div class="col-md-12 text-center">
                        <h3>There is currently no company attached to this device.</h3>
                        <h5>Please go to the administration panel and couple a company to this device. Device
                            id {{ device.id }}
                        </h5>
                    </div>
                </div>
            {% endif %}
        </div>

    			<div id="offlinedata">
				<!-- the news will get displayed here from indexedDB in offline mode -->
			</div>
    </body>
</html>
