{% extends 'mysign_app/authenticated/base.html' %}
{% load static %}
{% load to_name %}

{% block content %}
    <div class="col-sm-9 pt-3 pb-3">
        <div class="row-data-table">
            {# <img src='{% static "mysign_app/promo-fallback.png" %}'>#}
            <script type="text/javascript">
                $(document).ready(function () {
                    createDataTable({{json | safe}}, {{list_fields|safe}})
                });
            </script>


            <table id="register" class="table table-hover w-100 table-responsive" cellspacing="0">
                <thead>
                    <tr>
                        {% for field in list_fields %}
                            <th> {{ field | to_name }} </th>
                        {% endfor %}
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    {% include 'mysign_app/authenticated/form.html' %}
{% endblock %}