{% extends 'mysign_app/admin/base.html' %}
{% block list_content %}
    <div class="col-md-8">
        <div class="row">
            {% for device in device_list %}
                <div class="col-3 mb-3 mt-3">
                    <div class="card h-100">
                        <img class="card-img-top vh-15" src='../../../static/mysign_app/gebouw-n.png'>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-text align-self-center">
                                {% if device.company.name != null %} {{device.company.name}}
                                {% else %}
                                    {{device.id}}
                                {% endif %}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}