{% load crispy_forms_tags %}

{% if form %}
    <div class="col-md-4 border-left">
        <form method="put" class="h-100">
            <div class="row h-75">
                <div class="col-md-12">

                    {% csrf_token %}
                    {{ form|crispy }}
                </div>

            </div>

            <div class="row align-items-end h-25 pb-5">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="fas fa-save"></i>
                        save changes
                    </button>
                    <a href="#" class="btn btn-danger btn-block" role="button">
                        <i class="fas fa-trash"></i>
                        delete object
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endif %}