{% load static %}

{# ---- Header container ---- #}
<nav class="navbar navbar-expand-sm fixed-top navbar-light">
    {% with request.resolver_match.url_name as url_name %}
        {# ---- Nav bar logo ---- #}
        <div class="navbar-brand">
            <img class="mx-auto bar-logo" src='{% static "mysign_app/gebouw-n.png" %}'>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {# ---- Nav bar items ---- #}
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <li class="{% if url_name == 'admin_door_devices' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'admin_door_devices' %}">Device overview </a></li>
                </li>
                <li class="nav-item">
                <li class="{% if url_name == 'admin_companies' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'admin_companies' %}">Companies <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <li class="{% if url_name == 'admin_users' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'admin_users' %}">Users</a>
                </li>
            </ul>
        </div>
    {% endwith %}
</nav>
