{% extends 'mysign_app/admin/base.html' %}
{% block content %}
<div class="offset-md-1 row vh-90">
    <div class="col-md-8">
        <div class="row">
            <table class="table">
                <thead class="thead">
                <tr>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Company</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.company.name}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <div class="col-md-4 border-left">
        <div class="row h-75" >
            <div class="col mt-3">
                <form>
                    <div class="form-group">
                        <label>First name</label>
                        <input type="name" class="form-control" id="FirstName" placeholder="Jan">
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input type="name" class="form-control" id="lastName"
                               placeholder="Janssen">
                    </div>
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp" placeholder="Joop@mindhash.com">
                    </div>

                    <div class="form-group">
                        <label>Company</label>
                        <input class="form-control" id="CompanyName" placeholder="Mindhash">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">HMO Admin</label>
                    </div>
                </form>
            </div>
        </div>

        <div class="row align-items-end h-25 pb-5">
            <div class="col">
                <a href="#" class="btn btn-primary btn-block align-self-bottom" role="button">
                    <i class="fas fa-save"></i>
                    save changes
                </a>
                <a href="#" class="btn btn-danger btn-block" role="button">
                    <i class="fas fa-trash"></i>
                    delete user
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}