{% extends 'mysign_app/authenticated/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-10 offset-md-1 mt-3">
        <form method="post" class="h-100">
            <div class="row h-75">
                <div class="offset-3 col-6">
                    <label><h3>Create user</h3></label>
                    {% csrf_token %}
                    {{ user_form|crispy }}
                </div>
            </div>

            <div class="row align-items-end h-25 pb-5">
                <div class="offset-3 col-6">
                    <button type="submit" class="btn btn-primary btn-block" id="submit_button">
                        <i class="fas fa-save"></i>
                        Create
                    </button>
                    <a href="{% url 'admin_users' %}" class="btn btn-danger btn-block" role="button" id="cancel_button">
                        <i class="fas fa-times"></i>
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}