{% load crispy_forms_tags %}
{% load static %}
{% if form %}
    <div class="col-sm-3 auth-container">
        <div class="row-dt-form">
            {# <img src='{% static "mysign_app/image-fallback.png" %}'>#}
            <form method="post" enctype=multipart/form-data class="h-100 form">
                <div id="collapseDiv" class="collapse unsaved-style">
                    You have unsaved changes
                </div>
                <fieldset id="form-fieldset" class="h-100">
                    <div class="row">
                        <div class="col-md-12 h-75">
                            {% csrf_token %}
                            {{ form|crispy }}
                        </div>
                    </div>

                    <div class="row pt-3">
                        <div class="col">

                            {% with request.resolver_match.url_name as url_name %}
                                {% if  url_name == 'admin_door_devices' %}
                                    <a href="{% url 'admin_user_add' %}"></a>
                                {% endif %}
                            {% endwith %}
                            {% if not form.readonly %}
                                <button id="submitButton" type="submit" class="btn btn-primary btn-block">
                                    <i class="fas fa-save"></i>
                                    Save {{ form.model_class_name }}
                                </button>
                            {% endif %}
                            {% if not form.no_delete %}
                                <button id="deleteButton" name="delete" type="submit" value="Delete"
                                        class="btn btn-danger btn-block" role="button"
                                        onclick="return confirm('Weet je zeker dat je dit wilt verwijderen?')">
                                    <i class="fas fa-trash"></i>
                                    Remove {{ form.model_class_name }}
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <input hidden id="id" type="hidden" name="id" value="{{ form.instance.id|default:"" }}">
                </fieldset>
            </form>
        </div>
    </div>
{% endif %}