{% load static %}

<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    {# ---- Nav bar logo ---- #}
    <div class="navbar-brand">
        <img class="mx-auto bar-logo" src='{% static "mysign_app/gebouw-n.png" %}'>
    </div>

    {#  --- Nav toggler ---- #}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems"
            aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarItems">

        {% with request.resolver_match.url_name as url_name %}
            {# ---- Nav bar items ----#}
            <ul class="navbar-nav mr-auto">
                {% for link, name in menu_items.items %}
                    <li class="nav-item {% if url_name == link %} active {% endif %}">
                        <a class="nav-link" href="{% url link %}">{{ name }} </a>
                    </li>
                {% endfor %}

                {# --- action links for mobile --- #}
                <li class="nav-item d-sm-none {% if url_name == 'admin_company_add' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'admin_company_add' %}">Add company </a>
                </li>
                <li class="nav-item d-sm-none {% if url_name == 'admin_user_add' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'admin_user_add' %}">Add user </a>
                </li>

                <li class="nav-item d-sm-none">
                    <a class="nav-link" href="{% url 'logout' %}">Logout </a>
                </li>
            </ul>

            {# ---- action buttons (not for mobile) --- #}
            <ul class="nav nav-pills d-none d-md-block">
                {% if url_name == 'admin_companies' %}
                    <a href="{% url 'admin_company_add' %}" class="btn navbar-btn mt-auto" role="button">
                        <i class="fas fa-plus"></i>
                        Add company
                    </a>
                {% endif %}
                {% if url_name == 'admin_users' %}
                    <a href="{% url 'admin_user_add' %}" class="btn navbar-btn mt-auto" role="button">
                        <i class="fas fa-plus"></i>
                        Add user
                    </a>
                {% endif %}
                <a href="{% url 'logout' %}" class="btn navbar-btn ml-2" role="button">
                    <i class="fas fa-user"></i>
                    Logout
                </a>
            </ul>
        {% endwith %}
    </div>


</nav>